<div class="container">
	<h1>ITEM WAS SUCCESSFULLY ADDED.</h1>
	<br />
	<br />
	<br />

	<h1>Click the button to go back to the index.</h1>
		<a href="/" class="btn btn-info" role="button">Go back</a>
</div> <!-- end container -->


