<div class="container">
	

	<h1>Customer account creation</h1>
	<h4>Here, the user can register and add a new account to the database.</h4>
	<br />
	<br />
	<br />

	<div class="row">
		<form action="/add_customer" method = "POST">
		    <fieldset>
		      <legend>Add an account to the database:</legend>
		      <label>Account Name:
		        <input id="#" type="text" name="first_name" placeholder="First Name">
		        <input id="#" type="text" name="last_name" placeholder="Last Name">
		      </label>
		      <br />
		      <label>Email Address:
		          <input id="#" type="text" name="email" placeholder="example@gmail.com">
		      </label>
		      <br />
		      <label>Password:
		          <input id="#" type="password" name="password" placeholder="notpassword">
		      </label>
		      <br />
		      <label>Address:
		        <input id="#" type="text" name="street" placeholder="Street Address">
		        <input id="#" type="text" name="city" placeholder="City">
		        <input id="#" type="text" name="state" placeholder="State">
		        <input id="#" type="text" name="zip" placeholder="Zip">
		      </label>
		      <br />
		      <label>Phone Number:
		      	<input id="#" type="text" name="phone_number" placeholder="000-0000-0000">
		      </label>
		      <br />
		      <input type="submit" id="submit">
		    </fieldset>
		</form>
	</div> <!-- End row -->

</div> <!-- End container -->
