<div class="container">
	<br />
	<h1>Index page for 340.</h1>
	<h4>Fom here, the user can go create an account as a "customer", or alter the inventory as "owner".  Finally user can view the shop and make an order.</h4>
	<br />
	<br />
	
	<h1>Owner</h1>
		<a href="/owner" class="btn btn-info" role="button">Do Owner stuff</a>
	<h1>Customer</h1>
		<a href="/customer" class="btn btn-info" role="button">Create an Account</a>
	<h1>View Shop</h1>
		<a href="/shopping" class="btn btn-info" role="button">View Shop</a>
</div>
